<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <div class="card">
      <img class="card-img-top" src="<%= product.img %>" width="100">
      <div class="card-body">
        <div class="card-title"><%= product.name %></div>
        <div class="card-text"><%= product.description %></div>
        <%= link_to "View", product_path(product), class: "btn btn-info" %>

        <% if user_signed_in? %>
          <!-- Add to Cart button for signed-in users -->
          <%= button_to "Add to Cart", cart_items_path(product_id: product.id, quantity: 1), method: :post, class: "btn btn-primary" %>
          <!-- Go to Cart link -->
          <%= link_to "Go to Cart", cart_path, class: "btn btn-secondary" %>
        <% else %>
          <!-- Prompt to log in -->
          <%= link_to "Add to Cart", new_user_session_path, class: "btn btn-primary", data: { turbo: false } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
